.site-layout-content {
    min-height: 280px;
    padding: 24px;
    background: #fff;
}

.site-layout-background {
    background: #fff;
}

.site-layout-sub-header-background {
    background: #fff;
}

#components-layout-demo-responsive .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
}


.logo {
    float: left;
    width: 120px;
    height: 80px;
}

.ant-row-rtl {
    float: right;
    margin: 16px 0 16px 24px;
}

.upload-list-inline .ant-upload-list-item {
    float: left;
    width: 200px;
    margin-right: 8px;
}

.upload-list-inline [class*='-upload-list-rtl'] .ant-upload-list-item {
    float: right;
}