.site-layout-content {
    min-height: 280px;
    padding: 24px;
    background: #fff;
}
.logo {
    float: left;
    width: 120px;
    height: 80px;

}

img{
    width: 80%;
    max-width: 100%;
    object-fit:cover;
}

.ant-row-rtl {
    float: right;
    margin: 16px 0 16px 24px;
}

#components-layout-demo-responsive .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
    background: #fff;
}

.site-layout-background {
    background: #fff;
}